root {
    --prim: rgba(0, 25, 57, 0.7);
    --bg: rgb(246, 249, 254);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 25, 57);
    color: rgb(255, 255, 255);
    /* min-height: 2000px; */
}


/* navbar start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(0, 25, 57, 0.7);
    border-bottom: 1px solid rgb(171, 169, 169);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);

    text-shadow: 5px solid #0000;
}

.navbar .navbar-logo span {
    color: #106eea;
}

.navbar .navbar-nav a {
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #106eea;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid #106eea;
    transform: scaleX(0);
    transition: 0.2s linear;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--bg);
    margin: 0 0.5rem;
}

#hamburger-menu {
    display: none;
}

/* navbar end */


/* hero section start*/
.hero {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../img/header-bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(0, 25, 57, 1) 8%, rgba(0, 25, 57, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3.1em;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.5);
    line-height: 1.3;
}

.hero .content span {
    color: #106eea;
}

.hero .content p {
    font-size: 1.4rem;
    color: #fff;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(48, 48, 48, 0.5);
    /* mix-blend-mode: difference; */
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    color: white;
    background-color: #106eea;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(57, 57, 57, 0.5);
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.hero .content .cta:hover {
    background-color: #ffffff;
    color: #000;
}

/* hero section end*/


/* About Section Start */
.about {
    padding: 10rem 7% 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(0, 25, 57);
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 7rem;
}

.about h2 span {
    color: #106eea;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 10rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 3rem;
}

.about .row .content h3 {
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.about .row .content p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.6;
}

/* About Section End */


/* Project Section Start */
.project {
    padding: 10rem 7% 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(0, 25, 57);
}

.project h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 7rem;
}

.project h2 span {
    color: #106eea;
}

.project .grid-container {
    /* width: 70%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin: auto;
}

.project .grid-container .card {
    background-color: #1456ad00;
    border: 1px solid #dddddd00;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.5s 0.1s linear;
    -webkit-transition: all 0.5s 0.1s linear;
    -moz-transition: all 0.5s 0.1s linear;
    -ms-transition: all 0.5s 0.1s linear;
    -o-transition: all 0.5s 0.1s linear;
}

.project .grid-container .card:hover {
    box-shadow: 0 0px 20px rgba(234, 234, 234, 0.637);

}

.project .grid-container .card-details h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 5px;
}

.project .grid-container .card-details p {
    font-size: 1.5rem;
    padding: 5px 20px;
    text-align: justify;
}

.project .grid-container .card-img {
    width: 100%;
    padding: 30px 30px;
    margin: auto;
    display: block;
}

.project .grid-container .card-btn {
    background-color: #006ca8;
    height: 45px;
    width: 20rem;
    color: #ffff;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    transition: 0.5s 0.1s linear;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project .grid-container .card-btn:hover {
    background-color: #ffffff;
    color: #000;
}

/* Project Section End */


/* Support Section Start */
.support {
    padding: 10rem 7% 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(0, 25, 57);
}

.support h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 7rem;
}

.support h2 span {
    color: #106eea;
}

.support .grid-container-sup {
    /* width: 70%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: auto;
}

.support .grid-container-sup .card-sup {
    background-color: #1456ad00;
    border: 1px solid #dddddd00;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.5s 0.1s linear;
    -webkit-transition: all 0.5s 0.1s linear;
    -moz-transition: all 0.5s 0.1s linear;
    -ms-transition: all 0.5s 0.1s linear;
    -o-transition: all 0.5s 0.1s linear;
}

.support .grid-container-sup .card-sup:hover {
    box-shadow: 0 0px 20px rgba(234, 234, 234, 0.637);

}

.support .grid-container-sup .card-details-sup h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 5px;
}

.support .grid-container-sup .card-details-sup p {
    font-size: 1.5rem;
    padding: 5px 20px;
    text-align: center;
}

.support .grid-container-sup .card-img-sup {
    width: 100%;
    padding: 30px 30px;
    margin: auto;
    border-radius: 100%;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.support .grid-container-sup .card-btn-sup {
    background-color: #006ca8;
    height: 45px;
    width: 20rem;
    color: #ffff;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    transition: 0.5s 0.1s linear;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.support .grid-container-sup .card-btn-sup:hover {
    background-color: #ffffff;
    color: #000;
}

/* Support Section End */

/* Footer Section Start */
footer {
    background-color: #106eea;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover, footer .links a:hover {
    color: #000;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 1rem;
}

footer .credit a {
    color: #fff;
    font-weight: 600;
}

footer .credit a span {
    color: rgb(0, 25, 57);
}

/* Footer Section End */


/* MEDIA QUERIES START*/

/* LAPTOP */
@media (max-width:1366px) {
    html {
        font-size: 75%;
    }

    .navbar .navbar-nav {
        margin-left: 20rem;
    }
}

/* TABLET */
@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }


    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(0, 16, 37, 0.9);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform-origin: 0 0;
        transform: scaleX(0.2);
        -webkit-transform: scaleX(0.2);
        -moz-transform: scaleX(0.2);
        -ms-transform: scaleX(0.2);
        -o-transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 40rem;
        object-fit: contain;
        object-position: center;
    }

    .about.row .content {
        padding: 0;
    }

    .about .row .content h3 {
        font-size: 2.8rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .about .row .content p {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 200;
        line-height: 1.6;
    }

    .project .grid-container {
        /* width: 70%; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin: auto;
    }

    .project .grid-container .card-details p {
        font-size: 1.5rem;
        padding: 20px 20px;
        text-align: justify;
    }

    .project .grid-container .card-img {
        width: 100%;
        padding: 30px 30px;
        margin: auto;
        display: block;
    }

    .support .grid-container-sup {
        /* width: 70%; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin: auto;
    }

    .support .grid-container-sup .card-details-sup p {
        font-size: 1.5rem;
        padding: 20px 20px;
        text-align: justify;
    }

    .support .grid-container-sup .card-img-sup {
        width: 100%;
        padding: 30px 30px;
        margin: auto;
        display: block;
    }
}

/* MOBILE */
@media (max-width:450px) {
    html {
        font-size: 55%;
    }

}

/* MEDIA QUERIES END */
